// Use variables from partials folder
@use "./partials/variables" as *;

/*** HEADER Style *************/
/******************************/
@use "./partials/header" as *;

/*** FOOTER Style *************/
/******************************/
@use "./partials/footer" as *;

// Import link for Bootstrap(front-end framework)
@import "~bootstrap/scss/bootstrap.scss";

// Import link for Fontawesome(front-end icons library)
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';


/*** RESET ********************/
/******************************/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

menu {
   list-style-type: none;
}

a {
   display: inline-block;
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

button {
   background: none;
   color: inherit;
   border: none;
   font: inherit;
   cursor: pointer;
   outline: inherit;
}


/*** MAIN Style - Home *************/
/***********************************/
main.home {

   .position-relative {
      .favorite-badges {
         position: absolute;
         top: 15px;
         right: 0px;

         cursor: pointer;
      }

      .optional-badges {
         display: flex;
         position: absolute;
         bottom: 15px;
         left: 0px;
      }      
   }

   p {
      margin: 0;
   }

   h3 {
      margin: 0;
   }

}